<style>
    .example-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        display: block;
        z-index: 1;
    }

    .example-modal .modal {
        background: transparent !important;
    }
</style>
<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Latest Members</h3>

        <div class="box-tools pull-right">
            <span class="label label-danger">8 New Members</span>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <ul class="users-list clearfix">
            {{#users}}
                <li type="button" class="btn btn-default" data-toggle="modal" data-target="#{{user_id}}">
                    <img src="{{user_profile_pic}}" alt="User Image">
                    <a class="users-list-name" href="#">{{user_first_name}} {{user_last_name}}</a>
                    <span class="users-list-date">Today</span>
                </li>
            {{/users}}
        </ul>
        <!-- /.users-list -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer text-center">
        <a href="javascript:void(0)" class="uppercase">View All Users</a>
    </div>
    <!-- /.widget-user -->
</div>
{{#users}}
    <div class="modal fade" id="{{user_id}}" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Default Modal</h4>
                </div>
                <div class="modal-body">
                    <select id="user_type" class="form-control">
                        <option>Manager</option>
                        <option>Waiter</option>
                        <option>Costumer</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"
                            onclick="$.fn.saveChanges()">Save changes
                    </button>
                </div>
                <script>
                    Carbon(() => {
                        $.fn.saveChanges = () => {
                            var user_type = $("#user_type").val();
                            $.fn.startApplication('/changeType/{{user_id}}/' + user_type)
                        }
                    });
                </script>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{{/users}}