<div class="row" style="margin-top: 20px">
    <div class="col-md-6">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Collapsible Accordion</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="box-group" id="accordion">
                    <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
<<<<<<< HEAD
                    {{#category}}
=======
                    {{#menu}}
>>>>>>> 5a50d70ff35c37d473decaf542cf34f01c638066
                    <div class="panel box box-success">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#{{category_tag}}">
                                    <i class="fa fa-fw {{category_tag}}"></i> {{category_name}}
                                </a>
                                <i class="fa fa-fw fa-remove pull-right"></i>
                            </h4>
                        </div>
                        <div id="{{category_tag}}" class="panel-collapse collapse">
                            <div class="box-body">
                                {{category_description}}
                                <div class="box-group" id="accordion">
                                    <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                                    {{#item}}
                                        <div class="panel box box-success">
                                            <div class="box-header with-border">
                                                <h4 class="box-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#{{category_tag}}">
<<<<<<< HEAD
                                                        <i class="fa fa-fw {{category_tag}}"></i> {{item_name}}
                                                    </a>
                                                    <i class="fa fa-fw fa-remove pull-right"></i>
=======
                                                        <i class="fa fa-fw {{category_tag}}"></i> {{category}}
                                                    </a>
>>>>>>> 5a50d70ff35c37d473decaf542cf34f01c638066
                                                </h4>
                                            </div>
                                            <div id="{{category_tag}}" class="panel-collapse collapse">
                                                <div class="box-body">
<<<<<<< HEAD
                                                    {{item_description}}
=======
                                                    {{category_description}}
>>>>>>> 5a50d70ff35c37d473decaf542cf34f01c638066
                                                </div>
                                            </div>
                                        </div>
                                    {{/item}}
                                </div>
                            </div>
                        </div>
                    </div>
<<<<<<< HEAD
                    {{/category}}
=======
                    {{/menu}}
>>>>>>> 5a50d70ff35c37d473decaf542cf34f01c638066
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-6">
        <!-- .box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Add a Category</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form data-hbs class="form-horizontal" action="/Menu/1/" method="post">
                <div class="box-body">
                    <div class="form-group">
                        <label for="category" class="col-sm-2 control-label">Category</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="category" name="category" placeholder="Category Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Description</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="description" name="description" placeholder="Description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tag" class="col-sm-2 control-label">Tag</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="description" name="tag" placeholder="Tag">
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-info pull-right" onclick="">Submit</button>
                </div>
                <!-- /.box-footer -->
            </form>
            <script>
                Carbon(()=> {
                    function Collapsible_Accordion () {
                        $.fn.startApplication('/accordion');
                    }
                })
            </script>
        </div>
        <!-- /.box -->
        <!-- .box -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Add a Menu Item</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form data-pjax class="form-horizontal" action="/Menu/2/" method="post">
                <div class="box-body">
                    <div class="form-group">
                        <label for="category" class="col-sm-2 control-label">Category</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="category" id="category" placeholder="Category Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dish" class="col-sm-2 control-label">Menu Item</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="dish" name="dish" placeholder="Dish Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dish" class="col-sm-2 control-label">Item Description</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="description" name="description" placeholder="Item Description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dish" class="col-sm-2 control-label">Item Price</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="price" name="price" placeholder="Item Price">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dish" class="col-sm-2 control-label">Item Calories</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="calories" name="calories" placeholder="Item Calories">
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-info pull-right">Submit</button>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>