<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-cart-plus"></i>

    {{#newTasks}}
        <span class="label label-danger">{{newTasks}}</span>
    {{/newTasks}}

</a>
<ul class="dropdown-menu">
    <li class="header">You have {{total}}{{^total}}0{{/total}} tasks</li>
    <li>
        <!-- inner menu: contains the actual data -->
        <ul class="menu">
            {{#items}}
                <li><!-- Task item -->
                    <a href="#">
                        <h3>
                            {{item_name}}
                            <small class="pull-right">{{progress}}%</small>
                        </h3>
                        <div class="progress xs">
                            <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0"
                                 aria-valuemax="100">
                                <span class="sr-only">{{progress}}% Complete</span>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- end task item -->
            {{/items}}

        </ul>
    </li>
    <li class="footer">
        <a onclick="$.fn.startApplication('/addToOrder')" class="bg-green-active"><b style="color: white">PLACE ORDER</b></a>
    </li>
</ul>
